@import "~styles";

.player-controls {
    @include flexbox();
    @include flex-dir(row);
    @include flex-wrap(wrap-reverse);
    @include justify-content(space-around);
    width: 100%;

    .main-controls {
        @include flexbox();
        @include flex-grow(1);

        @include flex-dir(row);
        @include justify-content(space-around);
        min-width: 50%;
    }

    .aux-controls {
        @include flexbox();
        @include flex-dir(row);
        @include justify-content(space-around);
        @include transform(scale(0.7) translateY(10px));
    }

    .file-upload {
        display: none;
    }
}
