@import "../../styles/scss/main";
button.btn-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  outline-width: 1px;
  outline-color: rgb(58, 58, 58);
  border: none;
  cursor: pointer;
  padding: 0;
  margin: $marginDefault;
  @include rounded(50%);
  box-shadow: 2px 2px 3px #ccc;

  span.btn-content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 60px;
    width: 60px;
  }

  background-color: var(--primary-bg);
  color: var(--primary-fg);
  i,
  span {
    color: var(--primary-fg);
    font-size: 1.3em;
  }

  &:hover {
    border: none;
    outline-width: 2px;
  }
  &:active {
    border: none;
    outline-width: 0px;
    @include transform(scale(0.95));
    box-shadow: none;
  }
}
