@import '../../../styles/scss/main';

.modal-save-wrapper {
  height: 245px;
}

.modal-save {
  @include flexbox();
  @include flex(1);
  @include flex-column();
  @include justify-content(space-between);
  ul {
    text-transform: capitalize;
  }
  ul li:before {
    content: '- ';
  }
  .footer {
    @include flexbox();
    @include flex-row();
    @include justify-content(flex-end);
    margin-right: $n-marginDefault;
  }
}
